.Title {
  display: flex;
  justify-content: flex-end;
  margin: 10px 30px;

  h1 {
    position: relative;
    font-size: 25px;
  }
}

.Title__wrapper {
  position: relative;
  padding: 10px 30px;
}

.Title__scroll {
  @include adhere;
  background-color: $blue;
  transform: skewX(25deg);
}
