
$colors: (
  transparent: rgba(0, 0, 0, 0),
  black-overlay: rgba(0, 0, 0, 0.8),
  black: #171717,
  white: #fff,
  ash: #aaa,
  gray: #ece8e8,
  purple: #470a68,
  eggplant: #310a4d,
  lavender: #825dc7,
  gold: #aa9050,
  red: #d50032,
  success: #00aa7e,
  error: #ff4772,
);

@function color($key) {
  @return map-get($colors, $key);
}

// // Fonts
// $fonts: (
//   sans: (proxima-nova, sans-serif),
//   serif: ("Inknut Antiqua", serif),
//   display: (titling-gothic-fb-extended, sans-serif),
// );

@function font($key) {
  @return map-get($fonts, $key);
}

// Easing (material defaults)
$eases: (
  default: cubic-bezier(0.4, 0, 0.2, 1),
  accelerate: cubic-bezier(0.4, 0, 1, 1),
  decelerate: cubic-bezier(0, 0, 0.2, 1),
);

@function ease($key: default) {
  @return map-get($eases, $key);
}

// Time
$time: (
  fast: 250ms,
  default: 500ms,
  slow: 750ms,
);

@function time($key: fast) {
  @return map-get($time, $key);
}


@mixin grid {
  display: grid;
  margin-left: 20px;
  margin-right: 20px;
  grid-gap: 10px;
}

@mixin  adhere {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

@mixin transition($property, $duration: time(), $timing-function: ease()) {
  transition: {
    property: $property;
    duration: $duration;
    timing-function: $timing-function;
  }
}


