.Sonnet__text {
  position: relative;
  display: inline-block;
  margin-top: 40px;
  padding: 15px 5px;
  ul {
    transform: skew(0deg, -25deg);
  }
}

.Sonnet__text--snippet {
  background-image: linear-gradient(to left, #fff, tan);
}

.Sonnet__tear {
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;

  border-right: 3px solid transparent;
  border-bottom: 20px solid #fff;

  border-left: 3px solid transparent;

  width: 0;
  height: 0;

  &:nth-child(2) {
    left: 40%;
    border-bottom: 30px solid #fff;
  }
  &:nth-child(3) {
    left: 30%;
    border-bottom: 10px solid #fff;
  }
  &:nth-child(4) {
    left: 60%;
    border-bottom: 12px solid #fff;
  }
}

.Sonnet__tearTop {
  position: absolute;
  display: block;
  top: 0;
  left: 45%;

  border-right: 3px solid transparent;
  border-top: 20px solid #fff;

  border-left: 3px solid transparent;

  width: 0;
  height: 0;

  &:nth-child(2) {
    left: 54%;
    border-top: 30px solid #fff;
  }
  &:nth-child(3) {
    left: 73%;
    border-top: 10px solid #fff;
  }
}
