.SonnetView {
  // position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 100vh;
}

.SonnetView__background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
}

.SonnetView__bgImage {
  @include adhere;
  object-fit: cover;
}

.SonnetView__inner {
  position: relative;
  @include grid;
  grid-template-areas:
    "form"
    "sonnet"
    "dust";

  @include breakpoint(large) {
    grid-template-areas:
      "form sonnet"
      "dust dust";
    grid-template-columns: 2fr 3fr;
  }
}

.SonnetView__forms {
  grid-area: form;
  display: flex;
  flex-direction: column;
}

.SonnetView__formContent {
  & + & {
    margin-top: 20px;
  }
}

.SonnetView__formSubmit {
  margin-top: 20px;
}

.SonnetView__sonnet {
  grid-area: sonnet;
  justify-self: center;
}

.SonnetView__sonnetControls {
  display: flex;
  button {
    margin-left: 20px;
  }
}

.error-border {
  border-color: red;
}

.highlight {
  color: red;
}
